const isProd = process.env.NODE_ENV === 'production';

/** @type {import('next').NextConfig} */
const nextConfig = {
  output: 'export',
  // Use your actual repo name here
  basePath: isProd ? '/BuildBro-s-portfolio' : '', 
  assetPrefix: isProd ? '/BuildBro-s-portfolio/' : '', 
  images: {
    unoptimized: true, // Required because GitHub Pages has no image server
  },
};

module.exports = nextConfig;